<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sarah German is a software engineer in Minneapolis, Minnesota.">
    <link rel="stylesheet" href="/css/style.css?v=1" />
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Candal&family=Montserrat:wght@400;600&display=swap' %}
    {% favicon './favicon.svg' %}
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <div class="container">
        <main>
            {% include "featurelist.njk" %}
        </main>
    </div>
    <footer>
        <ul>
            {% for social in socials %}
                <li><a href="{{ social.url }}">{{ social.title }}</a></li>
            {% endfor %}
        </ul>
    </footer>
</body>
</html>