/* Colors */
:root {
    --blue: #2c5e7d;
    --brown: #3c281f;
    --gold: #f9d904;
    --white: #fff;
    --lightgray: #e0e0e0;
    --orange: #ffb200;
    --sand: #e8e2d0;
}
body {
    background: var(--blue);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%), url("../img/superior.webp") no-repeat center center scroll;
}
.container {
    padding: 1em 2em;
}
main {
    margin-bottom: 3em;
    max-width: 670px;
}
h1 {
    font-family: 'Candal', sans-serif;
    color: var(--gold);
    font-style: normal;
    font-weight: bold;
    font-size: 14vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    max-width: 90%;
}
h2 {
    font-weight: 600;
    line-height: 1em;
    clear: both;
}
h2:not(:first-of-type) {
    margin-top: 1.5em;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted var(--lightgray);
}
a:visited, a:focus, a:active {
    color: var(--orange);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1.5em 0;
}
p, hr {
    max-width: 670px;
}
.feature-inner img {
    border-radius: 15%;
    height: 50px;
}

.feature-inner {
    display: flex;
}
.feature-inner p {
    margin: 0 0 0 1em;
}

footer {
    background-color: var(--brown);
    padding: .5em 0;
    text-align: center;
}
footer ul {
    padding: 0;
}
footer a {
    font-size: .8em;
    border: none;
}
footer a:hover {
    border-bottom: 1px dotted var(--lightgray);
}
footer li {
    display: inline-block;
}
footer li:not(:last-of-type):after {
    margin: 0 .25em 0 .5em;
    content: "/";
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 11vmin;
    }
    .feature-inner img {
        height: 100px;
    }
    footer {
        text-align: left;
        padding-left: 2em;
    }
}
@media only screen and (min-width: 1140px) {
    .container {
        background: url("../img/skyline.webp") no-repeat bottom;
        background-position-x: 95%;
    }
}
